*~
/nohup.out
*.log
*.pid
/public/apps/
/tools/mnt/
/tools/samba.conf
/.smbcred
/config.json
/public/config.js
/.browserdata
/.idea
/kideskadm/.idea
/kideskadm/cache
/kideskadm/log
/kideskadm/sqlitedb
*~
/kideskadm/uploads
